.Rproj.user
.Rhistory
.RData
.Ruserdata
*.o
*.so
*.dll
src-x64
src-i386
renv

script_fit_test.R
autosave

RebuildPackage.R
rhubcheck_mac.R
CRAN_Checks.RData
cran-comments.md
CRAN-SUBMISSION
cran_prep.RData
CRANlogs

Spielplatz
ChecksDebugs
docs
